{% extends 'adminNav.html.twig' %}

{% block javascripts %}
{% endblock %}


{% block body %}

    <div class="container mt-5">

        <h3>Create new MailUser</h3>

        {{ include('mail_user/_form.html.twig') }}

        <a href="{{ path('mail_user_index') }}">back to list</a>

    </div>

{% endblock %}
